<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<style>
	.blue{background:blue;}
	.yellow{background:yellow;}
	.red{background:red;}
	</style>
	<script src="/javascripts/jquery.js"></script>
	 <link href="/javascripts/bootstrap/css/bootstrap.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

	
  </head>
  <body>
    <h1><%= title %></h1>
	<p><%= body %></p>
	<p><%= url %></p>
	<br>


	
	
	







	<script src="/javascripts/index.js"></script>
	<script src="/javascripts/myConfig.js"></script>
	
	
	
  </body>
</html>