<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<% title = 'pizza' %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<h2>New </h2>
	<% paul = "Paula" %>
	<%= paul %>
	<a href="/">dfj</a>
	<button href="/" class="btn btn-large btn-primary" type="button">Large button</button>
  </body>
</html>